.dl_theme{
  section.hero_inside{
    display: flex;
    align-items: center;
    height: 444px;
    margin-bottom: 150px;
    @media(max-width: 1024px){
      margin-bottom: 50px;
      height: auto;
      padding: 100px 0;
    }
    figure{
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:after{
        @extend .overlay;
        background-image: linear-gradient(to right, $cblack , rgba($cblack, 0.67) 0, rgba($cblack, 0.44) 40%, rgba($cblack, 0));
        @media(max-width: 1024px){
          background-image: linear-gradient(to right, $cblack , rgba($cblack, 0.67) 0, rgba($cblack, 0.44) 40%);
        }
      }
    }
    .hero_content{
      .page_title{
        margin-bottom: 10px;
        color: $cwhite;
        font-size: 44px;
        font-weight: 700;
        @media(max-width: 1024px){
          font-size: 24px;
        }
      }
      .page_subtitle{
        font-size: 18px;
        color: $cwhite;
        @media(max-width: 1024px){
          font-size: 14px;
        }
      }
      .theme_button{
        margin-top: 30px;
      }
    }
  }
}