.dl_theme{
  section.list_points{
    padding: 160px 0;
    margin-bottom: 220px;
    @media(max-width: 1024px){
      padding: 50px 0;
      margin-bottom: 50px;
    }
    &.no_bg{
      padding: 0;
      margin-bottom: 200px;
      @media(max-width: 1024px){
        margin-bottom: 50px;
      }
    }
    & > figure{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.1;
      }
      &:after{
        @extend .overlay;
        background-color: rgba(#F7F7F7, 0.4);
      }
    }
    .section_title{
    }
    .points_list{
      display: grid;
      grid-gap: 65px 110px;
      grid-template-columns: repeat(2, 1fr);
      margin-top: 60px;
      @media(max-width: 1024px){
        grid-gap: 20px;
        grid-template-columns: 1fr;
        margin-top: 30px;
      }
      &.box_shadow{
        grid-gap: 20px 40px;
        @media(max-width: 1024px){
          grid-gap: 20px;
        }
        .point_item{
          padding: 30px;
          grid-gap: 10px;
          @media(max-width: 1024px){
            padding: 15px;
          }
          figure{
            height: 40px;
            @media(max-width: 1024px){
              height: 40px;
              width: 40px;
            }
          }
        }
      }
      .point_item{
        display: grid;
        grid-gap: 18px;
        grid-template-columns: auto 1fr;
        border-radius: 10px;
        flex-basis: calc(100% / 4 - 20px * 3);
        flex-grow: 1;
        @media(max-width: 1024px){
          grid-template-columns: 1fr;
          grid-gap: 5px;
        }
        figure{
          display: flex;
          align-items: flex-start;
          justify-content: center;
          @media(max-width: 1024px){
            width: 40px;
            height: 40px;
          }
          img{
            // width: 100%;
            // height: 100%;
            @media(max-width: 1024px){
              width: 40px;
              height: 40px;
            }
          }
        }
        .service_title{
          margin-bottom: 10px;
          font-size: 26px;
          font-weight: 700;
          @media(max-width: 1024px){
            font-size: 20px;
          }
        }
        .service_desc{
          font-size: 16px;
          @media(max-width: 1024px){
            font-size: 14px;
          }
        }
      }
    }
    
  }
}