section.text_block{
  margin-bottom: 210px;
  @media(max-width: 1024px){
    margin-bottom: 50px;
  }
  .block_wrap{
    display: grid;
    grid-gap: 140px;
    grid-template-columns: 1fr 1fr;
    @media(max-width: 1024px){
      grid-gap: 30px;
      grid-template-columns: 1fr;
    }
    .block_content{

    }
    .block_media{
      .image_wrap{
        figure{
          img{
            border-radius: 4px;
          }
        }
        .block_badge{
          position: absolute;
          bottom: 53px;
          right: 0;
          transform: translateX(40%);
          padding: 30px 55px;
          background-color: $cwhite;
          border-radius: 4px;
          box-shadow: 0 16px 40px rgba(#C28A56, 0.2);
          @media(max-width: 1680px){
            transform: translateX(20%);
          }
          @media(max-width: 1440px){
            transform: translateX(10%);
          }
          @media(max-width: 1024px){
            padding: 20px 25px;
            transform: translateX(0);
          }
          &:before{
            content: url(../../images/point.svg);
            position: absolute;
            top: 32px;
            left: 20px;
            @media(max-width: 1024px){
              left: 3px;
              top: 20px;
            }
          }
          .title{
            margin-bottom: 5px;
            font-weight: 700;
            color: #222222;
            font-size: 18px;
          }
          .value{
            font-size: 18px;
            color: #777777;
          }
        }
      }
    }
  }
  &.reversed{
    .block_wrap{
      .block_media{
        order: -1;
        .image_wrap{
          .block_badge{
            padding: 20px 40px;
            background-color: $ccorp;
            text-align: center;
            transform: translateX(-20%);
            bottom: 0;
            left: 0;
            right: unset;
            @media(max-width: 1024px){
              padding: 10px 15px;
              transform: translateX(0);
            }
            &:before{
              display: none;
            }
            .title{
              margin-bottom: 0;
              font-weight: 700;
              color: $cwhite;
              font-size: 60px;
              line-height: 90%;
              @media(max-width: 1024px){
                font-size: 30px;
              }
            }
            .value{
              font-size: 36px;
              color: $cwhite;
              line-height: 100%;
              @media(max-width: 1024px){
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}