.dl_theme{
  section.our_services{
    padding: 160px 0;
    @media(max-width: 1024px){
      padding: 50px 0;
    }
    &.no_bg{
      padding: 0;
      margin-bottom: 200px;
      @media(max-width: 1024px){
        margin-bottom: 50px;
      }
    }
    & > figure{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.1;
      }
      &:after{
        @extend .overlay;
        background-color: rgba(#F7F7F7, 0.4);
      }
    }
    .services_list{
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
      grid-gap: 20px;
      @media(max-width: 1024px){
        flex-direction: column;
      }
      .service_item{
        padding: 30px;
        background-color: $cwhite;
        border-radius: 10px;
        flex-basis: calc(100% / 4 - 20px * 3);
        flex-grow: 1;
        @media(max-width: 1024px){
          padding: 15px;
        }
        figure{
          display: flex;
          align-items: center;
          justify-content: start;
          margin-bottom: 20px;
          padding-bottom: 16px;
          border-bottom: 1px solid #EFEFEF;
          @media(max-width: 1024px){
            margin-bottom: 10px;
            padding-bottom: 10px;
          }
          img{
            width: 56px;
            height: 56px;
            @media(max-width: 1024px){
              width: 40px;
              height: 40px;
            }
          }
        }
        .service_title{
          margin-bottom: 10px;
          font-size: 16px;
          font-weight: 600;
        }
        .service_desc{
          font-size: 14px;
        }
      }
      &.service_links{
        .service_item{
          border: 1px solid #E6E6E6;
          border-radius: 8px;
          background-color: transparent;
          a{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 3;
          }
          figure{
            margin-bottom: 10px;
            padding-bottom: 0;
            border-bottom: none;
            @media(max-width: 1024px){
              margin-bottom: 10px;
              padding-bottom: 0;
            }
            img{
              width: 40px;
              height: 40px;
            }
          }
          .service_title{
            margin-bottom: 10px;
            font-size: 20px;
            font-weight: 700;
          }
          .service_desc{
            font-size: 14px;
          }
          &:hover{
            background-color: $cwhite;
            border-color: $cwhite;
            box-shadow: 24px 4px 96px rgba(#777777, 0.25);
          }
        }
      }
    }
  }
}